*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.25;
}
.master {
    max-width: 100rem;
    margin: 0 auto;
    padding: 8rem 5rem 5rem;
    position: relative;
    z-index: 30;
}
.blur,
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.blur {
    z-index: 20;
    backdrop-filter: blur(1rem);
}
.bg {
    z-index: 10;
    background: url(../img/bg.jpg) #d9eaf6 no-repeat;
    background-position: bottom right;
    background-size: cover;
    opacity: .75;
}
.cesium {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .25s ease;
    z-index: 30;
}
.cesium--ql {
    transform: translateX(-55rem);
}
.title {
    font-size: 3rem;
    font-weight: 700;
}
.quick-links {
    width: 50rem;
    font-size: 2rem;
    grid-gap: 2rem;
    display: grid;
    padding-top: 4rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    align-content: flex-start;
}
.quick-links a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.4rem;
}
.quick-links a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.quick-links ul a {
    font-size: 1.8rem;
}
.links {
    display: grid;
    grid-gap: 2rem;
}
.prototype {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
#cesiumContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.cesium-viewer-toolbar,
.cesium-viewer-fullscreenContainer,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-bottom {
    display: none !important;
}
.view button,
.legend {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
}
.view {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    width: 100%;
}
.view button {
    display: block;
    cursor: pointer;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 0;
}

.tab-buttons {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 1rem;
}

.tab-buttons button {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1.25rem 1rem 1rem;
    border-radius: 1rem 1rem 0 0;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    width: 14rem;
}

.tab-buttons button:nth-child(1) {
    transform: rotate(90deg) translate(7rem, 5rem);
}

.tab-buttons button:nth-child(2) {
    transform: rotate(90deg) translate(18rem, 5rem);
}

.tab-buttons button:nth-child(3) {
    transform: rotate(90deg) translate(29rem, 5rem);
}

.tab-buttons button:nth-child(4) {
    transform: rotate(90deg) translate(40rem, 5rem);
}

.tab-content {
    width: 30rem;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
}

.actions {
    position: absolute;
    right: 2rem;
    bottom: 6rem;
    z-index: 200;
    display: grid;
    grid-gap: 1rem;
    text-align: right;
}

.actions button {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
}

.compass {
    background: rgba(0,0,0,.75);
    width: 11.5rem !important;
    height: 11.5rem !important;
    border-radius: 1rem;
    top: 2rem !important;
    right: 2rem !important;
}

.compass-outer-ring, 
.compass-gyro,
.compass-rotation-marker {
    left: 50% !important;
    top: 50% !important;
    width: 10rem !important;
    height: 10rem !important;
    margin: -5rem 0 0 -5rem !important;
}

.compass-outer-ring-background,
.compass-gyro-background {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.navigation-controls {
    right: 15rem !important;
    top: 2rem !important;
    width: 3rem !important;
    height: 11.5rem;
    border-radius: 1rem;
    background: rgba(0,0,0,.75);
    display: grid;
    align-items: center;
}

.navigation-control {
    border: 0 !important;
}

.navigation-control-icon-reset {
    left: auto !important;
    fill: #fff !important;
    padding: 0 !important;
    margin: 0 auto;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.navigation-control-icon-zoom-in,
.navigation-control-icon-zoom-out {
    font-size: 2.6rem !important;
    padding: 0 !important;
}

.infobar {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    padding: 2rem;
    z-index: 10;
}

.location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.distance-legend {
    z-index: 10;
    bottom: 2rem !important;
    right: 2rem;
    height: 3rem !important;
    width: 12rem !important;
    border-radius: 1rem !important;
    padding: 0 1rem !important;
    background: rgba(0,0,0,.75);
}

.distance-legend-label {
    font-family: 'IBM Plex Sans' !important;
    font-weight: 700 !important;
    line-height: auto !important;
    padding-top: .5rem;
}

.distance-legend-scale-bar {
    transition: all .25s ease;
    top: 1.2rem !important;
}