:root {
    --fireRed: rgb(215, 48, 39);
    --medGreen: rgb(127, 188, 65);
    --policeBlue: rgb(116, 173, 209);
    --publicYellow: rgb(255, 210, 61);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.25;
}
.master {
    max-width: 100rem;
    margin: 0 auto;
    padding: 8rem 5rem 5rem;
    position: relative;
    z-index: 30;
}
.blur,
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.blur {
    z-index: 20;
    backdrop-filter: blur(1rem);
}
.bg {
    z-index: 10;
    background: url(../img/bg.jpg) #d9eaf6 no-repeat;
    background-position: bottom right;
    background-size: cover;
    opacity: .75;
}
.cesium {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .25s ease;
    z-index: 30;
}
.cesium--ql {
    transform: translateX(-55rem);
}

.cesium--ql .actions {
    transform: translateX(55rem);
}

.title {
    font-size: 3rem;
    font-weight: 700;
}
.quick-links {
    width: 50rem;
    font-size: 2rem;
    grid-gap: 4rem;
    display: grid;
    padding: 4rem 4rem 4rem 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    align-content: flex-start;
    overflow: auto;
}
.quick-links a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.4rem;
}
.quick-links a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.quick-links ul a {
    font-size: 1.8rem;
}
.links {
    display: grid;
    grid-gap: 1rem;
}
.prototype {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
#cesiumContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.cesium-viewer-toolbar,
.cesium-viewer-fullscreenContainer,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-bottom {
    display: none !important;
}
.view button,
.legend {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
}
.view {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    width: 100%;
}
.view button {
    display: block;
    cursor: pointer;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 0;
}

.tab {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all .25s ease;
}

.tab--active {
    transform: translateX(0)
}

.tab-buttons {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 1rem;
    transition: all .25s ease;
    transform: translateX(0);
}

.tab-buttons--active {
    transform: translateX(40rem);
}

.tab-buttons button {
    background: rgba(0,0,0,.8);
    color: #fff;
    padding: 1.25rem 1rem 1rem;
    border-radius: 1rem 1rem 0 0;
    border: .2rem solid rgba(0,0,0,.75);
    font-family: inherit;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    width: 14rem;
    text-shadow: 0 0 .5rem #000;
    transition: all .25s ease;
    margin-left: -2px;
    /* box-shadow: 0 0 1rem #000; */
}

.tab-buttons button:nth-child(1) {
    transform: rotate(90deg) translate(7rem, 5rem);
}

.tab-buttons button:nth-child(2) {
    transform: rotate(90deg) translate(18rem, 5rem);
}

.tab-buttons button:nth-child(3) {
    transform: rotate(90deg) translate(29rem, 5rem);
}

.tab-buttons button:nth-child(4) {
    transform: rotate(90deg) translate(40rem, 5rem);
}

.tab-buttons button:nth-child(5) {
    transform: rotate(90deg) translate(51rem, 5rem);
}

.tab-content {
    color: #fff;
    background: rgba(0,0,0,.95);
    border-right: .5rem solid black;
    width: 40rem;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: all .25s ease;
    text-shadow: 0 0 .5rem #000;
    /* box-shadow: 0 0 1rem #000; */
}

.units {
    overflow: auto;
    scrollbar-color: #fff #000;
    scrollbar-width: thin;
    height: 100%;
    padding-bottom: 6rem;
}

.units::-webkit-scrollbar {
    width: .4rem;
    height: .4rem;
    background-color: #000;
}
  
.units::-webkit-scrollbar-thumb {
    background: #fff;
}

.tab-content--active {
    transform: none;
}

.tab-title {
    font-variant: small-caps;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.actions {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 200;
    display: grid;
    grid-gap: 1rem;
    text-align: right;
    transition: all .25s ease;
}

.actions button {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
}

.compass {
    background: rgba(0,0,0,.75);
    width: 11.5rem !important;
    height: 11.5rem !important;
    border-radius: 1rem;
    top: 2rem !important;
    right: 2rem !important;
}

.compass-outer-ring, 
.compass-gyro,
.compass-rotation-marker {
    left: 50% !important;
    top: 50% !important;
    width: 10rem !important;
    height: 10rem !important;
    margin: -5rem 0 0 -5rem !important;
}

.compass-outer-ring-background,
.compass-gyro-background {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.navigation-controls {
    right: 15rem !important;
    top: 2rem !important;
    width: 3rem !important;
    height: 11.5rem;
    border-radius: 1rem;
    background: rgba(0,0,0,.75);
    display: grid;
    align-items: center;
}

.navigation-control {
    border: 0 !important;
}

.navigation-control-icon-reset {
    left: auto !important;
    fill: #fff !important;
    padding: 0 !important;
    margin: 0 auto;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.navigation-control-icon-zoom-in,
.navigation-control-icon-zoom-out {
    font-size: 2.6rem !important;
    padding: 0 !important;
}

.infobar {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    padding: 2rem;
    z-index: 10;
}

.location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.distance-legend {
    z-index: 10;
    bottom: auto !important;
    right: 2rem;
    top: 15rem;
    height: 3rem !important;
    width: 14rem !important;
    border-radius: 1rem !important;
    padding: 0 1rem !important;
    background: rgba(0,0,0,.75);
    display: block !important;
}

.distance-legend-label {
    font-family: 'IBM Plex Sans' !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    padding-top: .5rem;
    width: 14rem !important;
}

.distance-legend-scale-bar {
    transition: all .25s ease;
    top: 1.2rem !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.list-title {
    font-variant: small-caps;
    padding: 1.5rem;
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.9);
    font-weight: 700;
    font-size: 2.4rem;
    z-index: 100;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 0;
}

.list-item {
    display: grid;
    row-gap: .5rem;
    column-gap: 2rem;
    cursor: pointer;
    transition: all .25s ease;
    padding: 2rem;
    position: relative;
    z-index: 10;
    user-select: none;
    grid-template-columns: 7.5rem 1fr;
    grid-template-areas: "image name"
                         "image sub"
                         "image loc";
}

.list-item:hover,
.list-item--active {
    background: rgba(255, 255, 255, .25);
}

.list-item:hover .list-status,
.list-item--active .list-status {
    opacity: 1;
    transform: translateY(0);
}

.modal-name,
.list-name {
    grid-area: name;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    padding-bottom: .5rem;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-variant: small-caps;
}

.list-name span {
    font-variant: none;
    text-transform: uppercase;
    font-size: 2rem;
}

.list-status {
    position: absolute;
    left: 1.25rem;
    top: 8.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: #000;
    border-radius: 1rem;
    padding: .25rem .5rem;
    line-height: 1;
    width: 9rem;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all .25s ease;
    text-shadow: .1rem .1rem .2rem #000;
}

.list-status--check {
    background: #7fbc41;
}

.list-status--sleep {
    background: #b8b8b8;
}

.list-status--idle {
    background: #ebb93b;
}

.list-status--alert {
    background: #d73027;
}

.modal-image,
.list-image {
    grid-area: image;
    position: relative;
}

.modal-image img,
.list-image img {
    border-radius: 100%;
    width: 100%;
    display: block;
    border: .5rem solid #b8b8b8;
}

.modal-image--check img,
.list-image--check img {
    border-color: #7fbc41;
}

.modal-image--sleep img,
.list-image--sleep img {
    border-color: #b8b8b8;
}

.modal-image--idle img,
.list-image--idle img {
    border-color: #ebb93b;
}

.modal-image--alert img,
.list-image--alert img {
    border-color: #d73027;
}

.modal-bubble,
.list-bubble {
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: #b8b8b8;
    border-radius: 50%;
    top: -.5rem;
    right: -.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 .5rem #000;
}

.modal-bubble {
    top: 0;
    right: 0;
}

.modal-bubble svg,
.list-bubble svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

.modal-bubble sup,
.list-bubble sup {
    margin-top: -12px;
}

.modal-bubble sub,
.list-bubble sub {
    margin-bottom: -6px;
}

.modal-bubble--check,
.list-bubble--check {
    background: #7fbc41;
}

.modal-bubble--sleep,
.list-bubble--sleep {
    background: #b8b8b8;
}

.modal-bubble--idle,
.list-bubble--idle {
    background: #ebb93b;
}

.modal-bubble--alert,
.list-bubble--alert {
    background: #d73027;
}

.modal-sub,
.list-sub {
    grid-area: sub;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.8rem;
    font-weight: 700;
}

.list-loc {
    grid-area: loc;
    display: block;
    width: 100%;
    font-style: italic;
}

.list-item:hover .list-loc {
    white-space: normal;
    overflow: visible;
}

.close-btn {
    position: fixed;
    top: .75rem;
    left: 0;
    z-index: 500;
    color: #fff;
    text-shadow: 0 0 .5rem #000;
    background: 0;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0 50% 50% 0;
    font-weight: 700;
    font-size: 2rem;
    border: 0;
    cursor: pointer;
    transition: all .25s ease;
    transform: translateX(35rem);
}

.tab-button--fire:hover,
.tab-button--fire.tab-button--active {
    border-color: var(--fireRed);
    background: var(--fireRed);
}

.tab-content--fire {
    border-color: var(--fireRed);
}

.tab-content--fire .tab-title {
    background: var(--fireRed);
}

.tab-button--medical:hover,
.tab-button--medical.tab-button--active {
    border-color: var(--medGreen);
    background: var(--medGreen);
}

.tab-content--medical {
    border-color: var(--medGreen);
}

.tab-content--medical .tab-title {
    background: var(--medGreen);
}

.tab-button--police:hover,
.tab-button--police.tab-button--active {
    border-color: var(--policeBlue);
    background: var(--policeBlue);
}

.tab-content--police {
    border-color: var(--policeBlue);
}

.tab-content--police .tab-title {
    background: var(--policeBlue);
}

.tab-button--public:hover,
.tab-button--public.tab-button--active {
    border-color: var(--publicYellow);
    background: var(--publicYellow);
}

.tab-content--public {
    border-color: var(--publicYellow);
}

.tab-content--public .tab-title {
    background: var(--publicYellow);
}

.tab-button--areas:hover,
.tab-button--areas.tab-button--active {
    border-color: #fff;
    background: #fff;
    color: #000;
    text-shadow: none;
}

.tab-content--areas {
    border-color: #fff;
}

.tab-content--areas .tab-title {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.modal {
    position: absolute;
    right: 0;
    bottom: 12rem;
    z-index: 100;
    margin-right: 4rem;
    width: 60rem;
    background: rgba(0,0,0,.75);
    transition: all .4s ease;
    transform: translateX(64rem);
    border: .5rem solid rgba(0,0,0,.9);
    border-radius: 1rem;
}

.modal--active {
    transform: translateX(0);
}

.modal-video {
    position: relative;
    padding-bottom: 51%; /* 56.25% */
    padding-top: 2.5rem;
    height: 0;
    pointer-events: none;
    user-select: none;
    background: #000;
}
.modal-video video {
    display: block;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-live {
    background: red;
    color: white;
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 1rem;
    position: absolute;
    top: -4rem;
    left: 1rem;
}

.modal-close {
    cursor: pointer;
    background: #000;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -2rem;
    top: -2rem;
    z-index: 200;
}

.modal-body {
    position: relative;
    color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-areas: "image main"
                         "stats stats"
                         "blocks blocks";
    grid-gap: 2rem;
}

.modal-image {
    grid-area: image;
}

.modal-main {
    padding-top: 1.5rem;
}

.modal-name {
    font-size: 3rem;
}

.modal-sub {
    font-size: 2rem;
}

.modal-connecting {
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-variant: small-caps;
}

.modal-image {
    min-width: 10rem;
    min-height: 10rem;
}

.modal-stats {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.modal-stat-circle {
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #b8b8b8;
    width: 10rem;
    height: 10rem;
    align-content: center;
    font-weight: 700;
    margin: 0 auto 1rem auto;
    text-shadow: 0 0 .5rem #000;
}


.modal-stat:nth-child(1) .modal-stat-circle {
    background: #7fbc41;
}

.modal-stat:nth-child(2) .modal-stat-circle {
    background: #ebb93b;
}

.modal-stat:nth-child(3) .modal-stat-circle {
    background: #d73027;
}

.modal-stat-value {
    width: 100%;
    font-size: 3rem;
    line-height: 1;
}

.modal-stat-sub {
    font-variant: small-caps;
}

.modal-stat-name {
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
}

/* .modal-stat-icon,
.modal-block-icon,
.modal-contact-icon {
    width: .5rem;
    height: .5rem;
    background: #fff;
    border-radius: 50%;
    grid-area: icon;
    align-self: center;
} */

.modal-stat-icon svg {
    fill: #fff;
    width: 2.4rem;
    height: 2.4rem;
}

.modal-blocks {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.modal-block {
    border-radius: 1rem;
    border: .2rem solid #fff;
    padding: 1rem;
    display: grid;
    grid-column-gap: 1rem;
    font-size: 1.4rem;
    white-space: nowrap;
    grid-template-areas: "icon title"
                         "icon value";
}

.modal-block-icon {
    align-self: center;
    grid-row: 1 / -1;
}

.modal-block-icon svg {
    fill: #fff;
    width: 1.6rem;
    height: 1.6rem;
}

.modal-block-title {
    font-weight: 700;
    grid-area: title;
    align-self: flex-end;
}

.modal-block-value {
    grid-area: value;
}

.modal-contact {
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    padding: 0 0 2rem;
}

.modal-contact-button {
    background: #0082ca;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    min-width: 15rem;
    justify-content: center;
    cursor: pointer;
}

.modal-contact-icon {
    fill: #fff;
    width: 2.4rem;
    height: 2.4rem;
}

.logo {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: rgba(0,0,0,.75);
    z-index: 75;
    border-radius: 1rem;
    width: auto;
    cursor: pointer;
}

.logo svg {
    width: 154px;
    height: 59px;
}

.alerts {
    position: absolute;
    top: 19.5rem;
    right: 2rem;
    display: grid;
    grid-gap: 1rem;
    z-index: 200;
}

.alert {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

.alert-top {
    display: grid;
    grid-gap: .5rem;
    align-items: center;
    padding:0 0 .5rem;
    grid-template-columns: 3rem 1fr;
}

.alert-title {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.alert-icon {
    background: #d73027;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.alert-icon svg {
    width: 1rem;
    height: 1rem;
    fill: #fff;
}

.alert-icon--info {
    background: #0082ca;
}