html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.25;
}
.master {
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem;
    position: relative;
    z-index: 30;
}
.blur,
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.blur {
    z-index: 20;
    backdrop-filter: blur(1rem);
}
.bg {
    z-index: 10;
    background: url(../img/bg.jpg) #d9eaf6 no-repeat;
    background-position: bottom right;
    background-size: cover;
    opacity: .75;
}
.title {
    font-size: 3rem;
    font-weight: 700;
}
.links {
    font-size: 2rem;
    display: grid;
    grid-gap: 3rem;
    padding-top: 4rem;
}
.links a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.4rem;
}
.links a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.links ul a {
    font-size: 1.8rem;
}
.prototype {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* transform: translateY(-100%); */
    z-index: 100;
    transition: all .25s ease;
}
.prototype.active {
    /* transform: none; */
}
#cesiumContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
/* .cesium-viewer-bottom,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer {
    display: none;
} */
.cesium-viewer-fullscreenContainer {
    bottom: auto;
    right: auto;
    left: 0;
    top: 0;
}
.location,
.view button,
.legend {
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
}
.location {
    position: absolute;
    bottom: 6rem;
    right: 1rem;
    z-index: 20;
}
.view {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 500;
}
.view button {
    cursor: pointer;
    padding: 1rem 2rem;
}

.legend {
    position: absolute;
    left: 1rem;
    bottom: 12rem;
    z-index: 20;
    display: grid;
    grid-gap: .75rem;
}

.legenditem {
    display: flex;
    align-items: center;
}

.legenditem span {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .75rem;
}